body{

    background-image: url(IMAGES/0c813bcc-7535-4231-b2ef-fc890ee8cfaf.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;



    
    }
    
    
    
    h1{
        text-align: center;
        color: rgb(149, 0, 255);font-family: Arial;
        font-size: 40px;
      }
      .img-center{
        text-align: center;
        justify-content: center;
      }
    ul{
        text-align: left;
        color: rgb(233, 42, 9);font-family: 'Times New Roman';
        font-size: 30px;
    }
    
    .a-link{
      text-align: right;
    }

    a {
        text-align: center;
    }